<%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>

  <div class='form-input'>
    <%= f.label :日付を選択, class: 'label' %>
    <%= f.date_field :date, class: 'date-select' %>
  </div>
  <div class='form-input'>
    <%= f.label :予定を入力, class: 'label' %>
    <%= f.text_field :plan, class: 'text-input' %>
  </div>
  <%= f.submit '保存' %>
<% end %>

<div class='calendar'>
  <% @week_days.each do |day| %>
    <div class='item'>
      <div class='date'>
        <%= "#{day[:month]}/#{day[:date]}" %>
      </div>
      <ul class='content'>
        <% unless day[:plans].empty? %>
          <% day[:plans].each do |plan| %>
            <li class='plan-item'>・<%= plan %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
